<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">This is who you are.</h1>
    <br>
    <h5><%= current_user.nickname %></h5>
    <h5><%= current_user.email    %></h5>
    <h5><%= current_user.twitter  %></h5><br>

    <%= form_for :user, method: :put do |f| %>
      <%= f.text_field :twitter, placeholder: "@your_twitter_account", class: "form-control" %><br><br>
      <%= f.submit "Update Twitter Handle", class: "btn btn-lg btn-default btn-home" %>
    <% end %>
    <br>
  </div>
  <div class="col-md-2"></div>
</div>

